argparse==1.2.1
decorator==4.0.4
ipdb==0.8.1
ipython==4.0.1
ipython-genutils==0.1.0
onetimepass==1.0.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
simplegeneric==0.8.1
traitlets==4.0.0
tweepy==3.5.0
wsgiref==0.1.2
aiml==0.8.6
geopy==1.11.0
nltk==3.1
oauthlib==1.0.3
onetimepass==1.0.1
pyenchant==1.6.6
pymongo==3.2.1
pyRFC3339==1.0
pytz==2015.7
requests==2.9.1
requests-oauthlib==0.6.0
six==1.10.0
teleport==0.4.0
telepot==6.2
wheel==0.26.0

